{% extends 'base.html.twig' %}

{% block title %}Studies index{% endblock %}

{% block body %}
    <h1>Studies index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Place</th>
                <th>Address</th>
                <th>Text</th>
                <th>Website</th>
                <th>Img_path</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for study in studies %}
            <tr>
                <td>{{ study.id }}</td>
                <td>{{ study.place }}</td>
                <td>{{ study.address }}</td>
                <td>{{ study.text }}</td>
                <td>{{ study.website }}</td>
                <td>{{ study.imgPath }}</td>
                <td>
                    <a href="{{ path('app_studies_crud_show', {'id': study.id}) }}">show</a>
                    <a href="{{ path('app_studies_crud_edit', {'id': study.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_studies_crud_new') }}">Create new</a>
{% endblock %}
